@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  background: #000000 !important;
  background-color: #000000 !important;
  color-scheme: dark;
}

@keyframes spin-border {
  to {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar:horizontal {
  width: 0px;
  height: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(15, 15, 15, 0.8);
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: violet;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

::selection {
  background-color: rgba(193, 129, 193, 0.576);
  color: black; /* Optional: set text color within selection */
}

/* Allow custom cursor to track smoothly over iframes without getting stuck at boundaries */
body.disable-iframe-pointer-events iframe {
  pointer-events: none !important;
}

